@font-face {
    font-family: 'Urban Shadow';
    src: url('/fonts/UrbanShadow-SansSerif.woff2') format('woff2'),
        url('/fonts/UrbanShadow-SansSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nority Display';
    src: url('/fonts/NorityDisplay.woff2') format('woff2'),
        url('/fonts/NorityDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Urban Shadow', sans-serif;
	text-transform: uppercase;
	background-color: #FFA900;
	text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased;
}

#app {
	margin: 0 auto;
}

.outer {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.heading img {
	margin: 0 auto;
	display: block;
}

.text-wrapper {
	position: relative;
	font-size: 90px;
	font-family: 'Nority Display', sans-serif;
	paint-order: stroke fill;
}

.text-wrapper .front {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	-webkit-text-stroke-width: 8px;
	-webkit-text-stroke-color: #000;
}

.text-wrapper .back {
	color: black;
	-webkit-text-stroke-width: 8px;
	-webkit-text-stroke-color: #000;
	transform: translate(4px,4px);
}

.text-wrapper.alt {
	font-size: 70px;
}

.text-wrapper.alt .front {
	color: #FF5A00;
		left: 50%;
	transform: translateX(-50%);
	-webkit-text-stroke-width: 6px;
}
.text-wrapper.alt .back {
	-webkit-text-stroke-width: 6px;
}

.spanks-worldwide {
	font-size: 60px;
	margin-top: -10px;
}

.my-spanks {
	font-size: 40px;
	margin-bottom: -16px;
}

.top-section {
	text-align: left;
	flex: 0 1 auto;
	padding-top: 50px;
}

.middle-section {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 900px;
}

.bottom-section {
	text-align: center;
	padding-bottom: 50px;
}

#spankCanvas {
	position: absolute;
	top: -30px;
	left: 15px;
	width: calc(100% - 30px);
	height: calc(100% + 60px);
}

@media screen and (max-width: 850px) {
	.text-wrapper {
		font-size: 60px;
	}
	.text-wrapper.alt {
		font-size: 40px;
	}
	.spanks-worldwide {
		font-size: 40px;
		margin-top: -5px;
	}
	.my-spanks {
		font-size: 30px;
		margin-bottom: -10px;
	}
	
}

@media screen and (max-width: 600px) {

	.outer {
		justify-content: center;
	}
	.middle-section {
		flex: 0 1 auto;
		aspect-ratio: 16/10;
	}

	.heading img {
		width: 80%;
	}

	.top-section {
		text-align: center;
	}
	
	.text-wrapper .front {
		left: 50%;
		transform: translateX(-50%);
	}
	.text-wrapper {
		font-size: 40px;
	}
	.text-wrapper.alt {
		font-size: 40px;
	}
	.spanks-worldwide {
		font-size: 30px;
		margin-top: 5px;
	}
	.my-spanks {
		font-size: 20px;
		margin-bottom: -5px;
	}
}